---
import Layout from "../layouts/Layout.astro";

const packages = await Astro.glob("../pages/sections/packages/package*.md");

import * as basePackageInfo from "../pages/sections/all-packages.md";
import * as groomingPackages from "../pages/sections/packages/grooming_packages.md";
import * as pricingProcedure from "../pages/sections/packages/pricing_procedure.md";
---

<Layout title="Packages">
  <h2>
    {groomingPackages.frontmatter.title}
  </h2>
  <section>
    <groomingPackages.Content />
  </section>

  <p class="subheading text-center"></p>
  <img
    src="/assets/images/dog_cat_bath.png"
    loading="lazy"
    alt="Grooming"
    width={"100%"}
  />
  <p class="font-xl text-center font-bold"></p>
  <div class="flex flex-wrap flex-row h-full outline-subtle">
    <section class="card h-full">
      <h3 class="underline underline-offset-2">
        {basePackageInfo.frontmatter.title}
      </h3>
      <ul class="break-words">
        <basePackageInfo.Content />
      </ul>
    </section>
    <ul
      class="flex flex-col flex-wrap flex-1 h-full justify-between border-subtle md:border-l-[2px] border-dashed"
    >
      {
        packages.map((post) => (
          <li class="card">
            <h3 class="underline underline-offset-2 min-w-max">
              {post.frontmatter.title}: {post.frontmatter.alt}
            </h3>
            <span>{post.frontmatter.description}</span>
            <ul class="break-words min-w-40">
              <post.Content />
            </ul>
          </li>
        ))
      }
    </ul>
  </div>

  <div class="flex-wrap flex flex-row justify-between outline-subtle"></div>

  <section class="flex flex-col items-center justify-center space-y-4">
    <section
      class="accent flex space-x-3 text-left flex-col space-y-4"
      id="grooming-packages-pricing-content"
    >
      <h3 class="col-span-2 underline underline-offset-2">
        {pricingProcedure.frontmatter.title}
      </h3>
      <div class="flex flex-wrap justify-center content-between">
        <div
          class="flex-1 flex-row flex-wrap mr-10 space-y-2 min-w-20 sm:min-w-48"
        >
          <span class="">
            {pricingProcedure.frontmatter.description}
          </span>
          <pricingProcedure.Content />
        </div>
        <img
          src="/assets/images/dog_in_towel.jpg"
          loading="lazy"
          alt="Pomeranian"
          width={400}
          class="object-contain self-center"
        />
      </div>
    </section>
  </section>
</Layout>

<style>
  .subheading {
    font-size: var(--small-font);
  }
</style>
